priority -50

snippet exp "Jest - expect(value)"
expect($1)$2;
endsnippet

snippet ebe "Jest - expect(value).toBe(value)"
expect($1).toBe($2);
endsnippet

snippet eeq "Jest - expect(value).toEqual(value)"
expect($1).toEqual($2);
endsnippet

snippet emat "Jest - expect(string).toMatch(regexpOrString)"
expect($1).toMatch($2);
endsnippet

snippet enull "expect(value).toBeNull()"
expect($1).toBeNull();
endsnippet

